#!/bin/bash
current_snapshot=$(virsh snapshot-list {{ cp_vm.vm_name }} --name | tail -n 2 | awk '{print $1}')
current_date=$(date -Iseconds)
echo "Creating new snapshot..."
virsh snapshot-create-as {{ cp_vm.vm_name }} --name "{{ cp_vm.vm_name }}_$current_date"
rc=$(echo $?)
if [ $rc -eq 0 ];
then
        if [ -z $current_snapshot ];
        then
                echo "No older snapshot to be removed"
        else
                echo "Deleting older snapshot..."
                virsh snapshot-delete {{ cp_vm.vm_name }} --snapshotname $current_snapshot
        fi
else
        echo "Snapshot creation failed !"
fi
